<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

[%#
 *
 * 	Script:	root/device/device_configdata.tt
 * 	___________________________________________________________
 *
 * 	Copyright (C) 2011-2015 Theo Bot
 *
 * 	http://www.activecmdb.org
 *
 * 	Topic: Purpose
 *
 * 	Template to list device configurations
 *
 * 	About: License
 *
 * 	This program is free software; you can redistribute it and/or
 * 	modify it under the terms of the GNU General Public License
 * 	as published by the Free Software Foundation; either version 2
 * 	of the License, or (at your option) any later version.
 *
 * 	This program is distributed in the hope that it will be useful,
 * 	but WITHOUT ANY WARRANTY; without even the implied warranty of
 * 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * 	GNU General Public License for more details.
 *
 *  Topic: Version Control
 *
 *
%]
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>ActiveCMDB</title>
	<link rel="stylesheet" href="/static/css/main.css" />
	<link rel="stylesheet" href="/static/css/colorbox.css" />
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.colorbox-min.js"></script>
	<script src="/static/js/activecmdb.config.js"></script>
</head>
<body>
<div class="cmdbTabDiv">
<table class="cmdbTable">
<tr align="left">
	<th width="125" >Retrieval date</th>
	<th width="64"  >Type</th>
	<th width="64"  >Status</th>
	<th width="384" >Filename</th>
</tr>
[% FOREACH cfg IN cfgdata %]
<tr class="cmdbRow" onclick="showConfigObject([% device.device_id %], '[% cfg.config_id %]')">
	<td>[% cfg.date2str("%Y-%m-%d %H:%M:%S") %]</td>
	<td>[% cfg.config_type %]</td>
	<td>[% cfg.state2str %]</td>
	<td>[% cfg.config_name %]</td>
</tr>
[% END %]
</table>
</div>
</body>
</html>