<html>
<head>
<link rel="stylesheet" href="/static/css/dtree.css" />
<script src="/static/js/dtree.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/activecmdb.circuits.js"></script>
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
<div class="cmdbTabDiv">
<div id="circuitDetail" class="circuitDetail" >
<table>
<tr>
	<td id="dName" width="120">Name</td>
	<td>:</td>
	<td id="circuitName"></td>
</tr>
<tr valign="top">
	<td>Description</td>
	<td>:</td>
	<td id="circuitDesc"></td>
</tr>
<tr>
	<td valign="top">Units</td>
	<td valign="top">:</td>
	<td id="cicuitUnits" width="320"></td>
</tr>
<tr>
	<td id="dMinSpeed">Min. speed</td>
	<td>:</td>
	<td id="circuitLow"></td>
</tr>
<tr>
	<td id="dMaxSpeed">Max. speed</td>
	<td>:</td>
	<td id="circuitHigh"></td>
</tr>
</table>
</div>

<div id="cirtree" class="cirTree"></div>
<script type="text/javascript">
<!--
	[% tally = 128 %]
	var view = '';
	d1 = new dTree('d1');
	d1.add(0,-1,'Circuits');
	[% IF vlans.size > 0 %]
	d1.add(1, 0, 'VLAN');  
	[% FOREACH vlan IN vlans %][% tally = tally + 1 %]d1.add([% tally %], 1,'[% vlan.value.name %]','javascript:xCircuitDetails(0,[% device_id %],[% vlan.key %])','','','');
	[% END %][% END %]
	
	[% IF vrfs.size > 0 %]
	d1.add(2,0, 'VRF');
	[% FOREACH vrf IN vrfs %][% tally = tally + 1 %]d1.add([% tally %], 2, '[% vrf.value.vrf_name %]','javascript:xCircuitDetails(1,[% device_id %],\'[% vrf.value.vrf_rd %]\')','','','');
	[% END %][% END %]
	
	[% IF frdlci.size > 0 %]
	d1.add(3,0, 'Frame-Relay');
	[% FOREACH dlci IN frdlci %][% tally = tally + 1 %]d1.add([% tally %], 3, '[% dlci.value.dlci %]','javascript:xCircuitDetails(2,[% device_id %],\'[% dlci.value.dlci %]\',[% dlci.value.ifindex %])','','','');
	[% END %][% END %]
	
	d1.closeAll();
	document.getElementById('cirtree').innerHTML = d1;
	$('#cirtree a').each(function() {
		$(this).attr('style', 'color:black');
	});
//-->
</script>
</div>

</body>
</html>