<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>ActiveCMDB</title>
	<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
<div class="cmdbTabDiv">
<table>
<tr>
	<th>Local interface</th>
	<th>Remote hostname</th>
	<th>Remote IP Address</th>
	<th>Remote Hardware address</th>
	<th>Discovery method</th>
</tr>
[% FOREACH conn IN conns %]
<tr>
	<td>[% conn.ifname %]</td>
	<td>[% conn.hostname %]</td>
	<td>[% conn.net %]</td>
	<td>[% conn.mac %]</td>
	<td>[% conn.method %]</td>
</tr>
[% END %]
</table>
</div>
</body>
</html>